# Environnements virtuels Python
venv/
env/
semantic-web-env/
.semantic-web-env/
__pycache__/
Lib/
Scripts/


# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Packages PyTorch et modèles lourds
*.pth
*.bin
*.dll

# Dossiers d'installation
build/
dist/
*.egg-info/

# Fichiers temporaires
*.log
*.tmp
*.pyc
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
semantic-web-env/
